.navbar-brand img {
    margin-right: 0px;
    margin-left: 0px; /* Establece el margen izquierdo a 0px */
}

/* Estilos para la barra de navegación */
#barrNA {
    background-color: #4875af; /* Azul claro */
}

/* Estilos para los resultados de los comentarios */
.card {
    height: 100%; /* Altura del 100% para ocupar todo el espacio */
    border: 1px solid rgba(0, 0, 0, 0.125); /* Borde ligero */
}

.card-body {
    height: 100%; /* Altura del 100% para ocupar todo el espacio */
    overflow: auto; /* Activar el desplazamiento si el contenido excede el tamaño */
}
