

/* Estilos para los resultados de los comentarios */
.card {
    height: 100%; /* Altura del 100% para ocupar todo el espacio */
    border: 1px solid rgba(0, 0, 0, 0.125); /* Borde ligero */
}

.card-body {
    height: 100%; /* Altura del 100% para ocupar todo el espacio */
    overflow: auto; /* Activar el desplazamiento si el contenido excede el tamaño */
}
