* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #1a1a1a;
}
.item:hover {
  --expand: 0.5;
}

.item:after {
  transform: translate(calc(var(--expand) * -2%), calc(var(--expand) * -2%));
  transition: transform 0.2s;
}
.item__content {
  transition: transform 0.2s;
  transform: translate(calc(var(--expand) * -4%), calc(var(--expand) * -4%));
}
a {
  color: #c7edef;
}