{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-5">
    <h1 class="text-center mb-4">Clasificación de Comentarios</h1>
    
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card border-success mb-4" style="height: auto;">
                <div class="card-body flex-column">
                    <h5 class="card-title text-success">Comentarios Positivos: {{ positive|length }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% for comment in positive %}
                        <li class="list-group-item">
                            <p><strong>Calificación: </strong>{{ comment.clasification }}</p>
                            <p><strong>Tweet: </strong>{{ comment.tweet }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card border-warning mb-4" style="height: auto;">
                <div class="card-body flex-column">
                    <h5 class="card-title text-warning">Comentarios Neutros: {{ neutral|length }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% for comment in neutral %}
                        <li class="list-group-item">
                            <p><strong>Calificación: </strong>{{ comment.clasification }}</p>
                            <p><strong>Tweet: </strong>{{ comment.tweet }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card border-danger mb-4" style="height: auto;">
                <div class="card-body flex-column">
                    <h5 class="card-title text-danger">Comentarios Negativos: {{ negative|length }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% for comment in negative %}
                        <li class="list-group-item">
                            <p><strong>Calificación: </strong>{{ comment.clasification }}</p>
                            <p><strong>Tweet: </strong>{{ comment.tweet }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
